<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material},
				~{::#breadcums}
				)}">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<th:block id="breadcums">
		<div class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb-wrap">
							<nav aria-label="breadcrumb">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
									<li class="breadcrumb-item"><a th:href="@{/account}">Account</a></li>
									<li class="breadcrumb-item active" aria-current="page">change Password</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<main>
		<div id="content" class="col-sm-9 m-auto" ng-app="change-pass-app"
			ng-controller="change-pass-ctrl">
			<form class="login-reg-form-wrap mt-md-34 mt-sm-34">
				<fieldset>
					<h2>Change Password</h2>
					
						<div id="notification" style="display: none;" class="alert alert-dismissible">
								<button type="button" class="close" data-dismiss="alert">×</button>
								</div>
								
						<div class="single-input-item">
						<label id="lblOldPass">Mật khẩu cũ </label>
							<input type="password" id="oldPass" placeholder="Vui lòng nhập mật khẩu cũ"
								class="form-control" />
							<div id="errorOldPass" style="color: #dc3545;"></div>
						</div>
						
						<div class="single-input-item">
						<label id="lblNewPass">Mật khẩu mới </label>
							<input type="password" id="newPass" ng-model="form.newPass" placeholder="Vui lòng nhập mật khẩu mới" class="form-control" />
							<div id="errorNewPass" style="color: #dc3545;"></div>
						</div>
						<div class="single-input-item">
						<label id="lblConfirmPass">Xác nhận mật khẩu </label>
							<input type="password" id="confirmPass" placeholder="Vui lòng xác nhận mật khẩu" class="form-control" />
							<div id="errorConfirmPass" style="color: #dc3545;"></div>
						</div>
				</fieldset>
				<div class="buttons clearfix mt-3">
					<div class="pull-left">
						<a th:href="@{/account}" class="sqr-btn">Back</a>
					</div>
					<div class="pull-right">
						<input type="button" ng-click="update()" value="Update" class="sqr-btn" />
					</div>
				</div>
			</form>
		</div>
	</main>

</body>
<th:block id="material">
	<script src="/assets/user/angular/change-pass-app.js"></script>
</th:block>
</html>