<div class="home-single-sidebar mb-30 mt-md-36">
                            <div class="img-container fix img-full">
                                <a href="#">
                                    <img src="/assets/img/banner/banner_static_top3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        
                        <div class="home-single-sidebar mb-30 mt-md-36">
                            <div class="img-container fix img-full">
                                <a href="#">
                                    <img src="/assets/img/banner/banner_static_top4.jpg" alt="">
                                </a>
                            </div>
                        </div> 